@import url(http://fonts.googleapis.com/css?family=Roboto);

@-ms-viewport{
  width: device-width;
}

body{
	margin:0px;
	padding: 0px;

}

.frow{
	padding-top: 30px;
	
}


.fcol-12{
	
}
.fcol-6{
	
}
.fcenter{
	text-align: center;
}



.f-text{
	font-family: 'Roboto', sans-serif;
	padding: 4px 4px 4px 4px;
	font-size: 30px;
	color: white;

}
.f-button{
	margin: 10px;
	background: white;
	padding: 4px 0px 4px 0px;
	height:26px;
	width:100px;
	font-size: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position: relative;
	z-index: 2;
	transition: box-shadow 0.25s;
}
.f-button:hover{
	cursor: pointer;

	-webkit-box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.75);
	   -moz-box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.75);
	        box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.75);
	transition: all 0.25s;
}

.fixed{     
	position: fixed;
	z-index: 4;
}

/*NAV BAR START*/
.f-nav{
	width:100%;
	height:36px;
	margin: 0px !important;
	padding: 0px !important;
	
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.85);
	   -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.85);
	        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.85);
	

	
}

.fnav-title{
	margin: 1px 5px 0px 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: black;
	cursor: default;
	top:5px;

	-webkit-touch-callout: none; /*Disable User text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
/*NAV BAR END*/


/* COLOUR SUPPORT BEGIN*/
.fcolor-orange{
	background-color: orange;
}
.fcolor-red{
	background-color: #F44336;
}
.fcolor-green{
	background-color: #4CAF50;
}
.fcolor-pink{
	background-color: #F01180;
}
.fcolor-lightblue{
	background:#03A9F4;
}

/* COLOUR SUPPORT END*/

/* TRANSPARANCY CLASSES 10-90 */
.ftransparancy-90{
	opacity: 0.9;
}
.ftransparancy-80{
	opacity: 0.8;
}
.ftransparancy-70{
	opacity: 0.7;
}
.ftransparancy-60{
	opacity: 0.6;
}
.ftransparancy-50{
	opacity: 0.5;
}
.ftransparancy-40{
	opacity: 0.4;
}
.ftransparancy-30{
	opacity: 0.3;
}
.ftransparancy-20{
	opacity: 0.2;
}
.ftransparancy-10{
	opacity: 0.1;
}
/* TRANSPARANCY CLASSES END*/
